@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/*
 * Base CSS Template for print styles.
 * Base template for invoice styles for Esfresco.
 * Designed by Nikhil Nigade for Dezine Zync Studios LLP.
 * Copyright 2014-2015 Dezine Zync Studios LLP. All Rights Reserved.
*/
/* Utilities */
/* Variables */
@media print, screen {
  /* Base Styles : Start */
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    word-spacing: 1.1pt;
    letter-spacing: 0.2pt;
    font-family: "PT Sans", sans-serif;
    color: #000;
    background: none;
    font-size: 12pt;
  }
  body.test {
    width: 595px;
    height: 841.8px;
    overflow: scroll;
    background: #acacac;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "PT Sans Narrow", sans-serif;
  }
  h1 {
    font-size: 19pt;
  }
  h2 {
    font-size: 17pt;
  }
  h3 {
    font-size: 15pt;
  }
  h4,
  h5,
  h6 {
    font-size: 12pt;
  }
  code {
    font: 10pt Courier, monospace;
  }
  blockquote {
    margin: 1.3em;
    padding: 1em;
    font-size: 10pt;
  }
  hr {
    background-color: #ccc;
  }
  img {
    display: block;
    margin: 1em 0;
  }
  a img {
    border: none;
  }
  table {
    margin: 1px;
    text-align: left;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 0.125in;
  }
  th {
    font-weight: bold;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  tr {
    page-break-inside: avoid;
  }
  /* Base Styles : End */
  /* Common */
  .taxItem td:nth-child(2) {
    text-align: right;
  }
}
@media print, screen {
  body {
    padding: 2rem;
    font-family: "PT Sans", sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
  }
  body strong,
  body th {
    color: #555;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .title {
    font-family: "PT Sans Narrow", sans-serif;
  }
  header .title {
    font-size: 0.3in;
    text-transform: uppercase;
    line-height: 0.375in;
    color: #f92869;
  }
  header .title:first-line {
    font-size: 0.5in;
    letter-spacing: -0.5px;
  }
  .to {
    float: left;
  }
  .to h3 {
    margin-bottom: 0;
  }
  .to p {
    margin-top: 0.05rem;
  }
  .dates {
    float: right;
    margin-top: 2.15rem;
  }
  .dates p {
    margin-top: 0.05rem;
    margin-bottom: 0;
  }
  .dates p:first-child {
    margin-top: 0.6rem;
  }
  .info::after,
  .info:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
  }
  .content {
    margin-top: 3rem;
  }
  .content table {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;
  }
  .content table tr {
    border-bottom: 1px solid #e33e71;
  }
  .content table td:last-child,
  .content table td:nth-child(3),
  .content table th:last-child,
  .content table th:nth-child(3) {
    text-align: right;
  }
  footer {
    margin-top: 3rem;
    font-family: "PT Sans Narrow", sans-serif;
  }
}
