doctype html
html(lang="en")

	head
		title Komodo Template (Esfresco)
		link(rel="stylesheet", href="/css/komodo.css")

	body
		
		header
			h1.title Dezine Zync Studios LLP.
			p 302, Long St., Central Ave. Pune, India.
			
		div.container
		
			section.info
			
				.to
					.left
						p To
						
					.right
						p <strong>John Appleseed</strong>
						p 25, Cleaveland Ave. Pune, India
						
				.dates
					.left
						p Date of Invoice:
						
					.right
						p 25, Jan 2015
						
					.left
						p Payment due by:
						
					.right
						p 10, Feb 2015
					
			section.content
				table
					tr
						th(colspan="3") Description
						th(colspan="2") Quantity
						th(colspan="2") Rate
						th(colspan="2") Total
						
					tr
						td(colspan="3") User Interface Engineering
						td(colspan="2") 100 Hr
						td(colspan="2") 300.00
						td(colspan="2") 30000.00
						
					tr
						td(colspan="3") Backend Engineering &amp System Architecture
						td(colspan="2") 60 Hr
						td(colspan="2") 300.00
						td(colspan="2") 18000.00
						
					tr.taxItem
						td(colspan="6")
						td(colspan="1") Tax A @12%
						td(colspan="2") 3200.00
						
					tr
						td(colspan="1")
							strong Total
						td(colspan="8") 
							strong ₹ 76500.00