doctype html
html(lang="en")

	head
		title Uno Template (Esfresco)
		link(rel="stylesheet", href="/css/uno.css")

	body
		header
			h1.title Dezine Zync Studios LLP.
			
			div.to
				h4.subtitle To
				b John Appleseed
				p 25, Cleaveland Ave. <br/>Pune, India			
			div.from
				h4.subtitle From
				b Nikhil Nigade
				p 302, Long St.,<br/>Central Ave.<br/>Pune, India.
				
			div.dates
				p <b>Date of Invoice</b>: 25, Jan 2015.
				p <b>Payment due by</b>: 10, Feb 2015.
				
		section.content
			table
				tr
					th(colspan="3") Description
					th(colspan="2") Quantity
					th(colspan="2") Rate
					th(colspan="2") Total
					
				tr
					td(colspan="3") User Interface Engineering
					td(colspan="2") 100 Hr
					td(colspan="2") 300.00
					td(colspan="2") 30000.00
					
				tr
					td(colspan="3") User Interface Design
					td(colspan="2") 95 Hr
					td(colspan="2") 300.00
					td(colspan="2") 28500.00
					
				tr
					td(colspan="3") Backend Engineering &amp System Architecture
					td(colspan="2") 60 Hr
					td(colspan="2") 300.00
					td(colspan="2") 18000.00
					
				tr.taxItem
					td(colspan="6")
					td(colspan="1") Tax A @12%
					td(colspan="2") 3200.00
					
				tr
					td(colspan="1")
						b Total
					td(colspan="8") 
						b ₹ 76500.00